{% load static %}
<div class="row">
    <div class="item-left col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="lc-wrapper">
            <div class="lc-container">
                <div class="gadgets">
                    <!-- List of gadget -->
                    <div class="heading">Appliance</div>
                    <input class="heading2" type="text" value="Quantity" readonly="">
                    <input class="heading2" type="text" value="Load" readonly=""><br><br>
    
                    <div class="gadget bulb" onclick="selectBulb(); totalBulbLoad(); calcTotalLoad();">
                    <i>✓</i>Normal Bulb
                    </div>
                    <input type="number" min="0" class="" id="commercial-bulb-qty" placeholder="Quantity?" disabled="" onchange="totalBulbLoad(); calcTotalLoad();">
                    <input type="number" min="0" name="load" class="" id="bulb-load" placeholder="Power(W)" readonly=""><br><br>
    
                    <div class="gadget tlight" onclick="selectTlight(); totalTlightLoad(); calcTotalLoad();">
                    <i>✓</i>Tube Light
                    </div>
                    <input type="number" min="0" class="" id="tlight-qty" placeholder="Quantity?" disabled="" onchange="totalTlightLoad(); calcTotalLoad();">
                    <input type="number" min="0" name="load" class="" id="tlight-load" placeholder="Power(W)" readonly=""><br><br>
    

                    {% comment %}
                    <div class="gadget ledlamp" onclick="selectLedlamp(); totalLedlampLoad(); calcTotalLoad();">
                    <i>✓</i>LED Lamp
                    </div>
                    <input type="number" min="0" class="" id="ledlamp-qty" placeholder="Quantity?" disabled="" onchange="totalLedlampLoad(); calcTotalLoad();">
                    <input type="number" min="0" name="load" class="" id="ledlamp-load" placeholder="Power(W)" readonly=""><br><br>
    
                    <div class="gadget fan" onclick="selectFan(); totalFanLoad(); calcTotalLoad();">
                    <i>✓</i>Fan
                    </div>
                    <input type="number" min="0" class="" id="fan-qty" placeholder="Quantity?" disabled="" onchange="totalFanLoad(); calcTotalLoad();">
                    <input type="number" min="0" name="load" class="" id="fan-load" placeholder="Power(W)" readonly=""><br><br>
    
                    <div class="gadget tvone" onclick="selectTvone(); totalTvoneLoad(); calcTotalLoad();">
                    <i>✓</i>LCD/LED TV (&lt; 42")
                    </div>
                    <input type="number" min="0" class="" id="tvone-qty" placeholder="Quantity?" disabled="" onchange="totalTvoneLoad(); calcTotalLoad();">
                    <input type="number" min="0" name="load" class="" id="tvone-load" placeholder="Power(W)" readonly=""><br><br>
    
                    <div class="gadget tvtwo" onclick="selectTvtwo(); totalTvtwoLoad(); calcTotalLoad();">
                    <i>✓</i>LCD/LED TV (&gt; 42")
                    </div>
                    <input type="number" min="0" class="" id="tvtwo-qty" placeholder="Quantity?" disabled="" onchange="totalTvtwoLoad(); calcTotalLoad();">
                    <input type="number" min="0" name="load" class="" id="tvtwo-load" placeholder="Power(W)" readonly=""><br><br>
    
                    <div class="gadget desktop" onclick="selectDesktop(); totalDesktopLoad(); calcTotalLoad();">
                    <i>✓</i>Desktop Computer
                    </div>
                    <input type="number" min="0" class="" id="desktop-qty" placeholder="Quantity?" disabled="" onchange="totalDesktopLoad(); calcTotalLoad();">
                    <input type="number" min="0" name="load" class="" id="desktop-load" placeholder="Power(W)" readonly=""><br><br>
    
                    <div class="gadget laptop" onclick="selectLaptop(); totalLaptopLoad(); calcTotalLoad();">
                    <i>✓</i>Laptop
                    </div>
                    <input type="number" min="0" class="" id="laptop-qty" placeholder="Quantity?" disabled="" onchange="totalLaptopLoad(); calcTotalLoad();">
                    <input type="number" min="0" name="load" class="" id="laptop-load" placeholder="Power(W)" readonly=""><br><br>
    
                    <div class="gadget fridgeone" onclick="selectFridgeone(); totalFridgeoneLoad(); calcTotalLoad();">
                    <i>✓</i>Refrigerator (165-250Ltr)
                    </div>
                    <input type="number" min="0" class="" id="fridgeone-qty" placeholder="Quantity?" disabled="" onchange="totalFridgeoneLoad(); calcTotalLoad();">
                    <input type="number" min="0" name="load" class="" id="fridgeone-load" placeholder="Power(W)" readonly=""><br><br>
    
                    <div class="gadget fridgetwo" onclick="selectFridgetwo(); totalFridgetwoLoad(); calcTotalLoad();">
                    <i>✓</i>Refrigerator (250-350Ltr)
                    </div>
                    <input type="number" min="0" class="" id="fridgetwo-qty" placeholder="Quantity?" disabled="" onchange="totalFridgetwoLoad(); calcTotalLoad();">
                    <input type="number" min="0" name="load" class="" id="fridgetwo-load" placeholder="Power(W)" readonly=""><br><br>
    
                    <div class="gadget fridgethree" onclick="selectFridgethree(); totalFridgethreeLoad(); calcTotalLoad();">
                    <i>✓</i>Refrigerator (350-450Ltr)
                    </div>
                    <input type="number" min="0" class="" id="fridgethree-qty" placeholder="Quantity?" disabled="" onchange="totalFridgethreeLoad(); calcTotalLoad();">
                    <input type="number" min="0" name="load" class="" id="fridgethree-load" placeholder="Power(W)" readonly=""><br><br>
    
                    <div class="gadget fridgefour" onclick="selectFridgefour(); totalFridgefourLoad(); calcTotalLoad();">
                    <i>✓</i>Refrigerator (&gt; 450Ltr)
                    </div>
                    <input type="number" min="0" class="" id="fridgefour-qty" placeholder="Quantity?" disabled="" onchange="totalFridgefourLoad(); calcTotalLoad();">
                    <input type="number" min="0" name="load" class="" id="fridgefour-load" placeholder="Power(W)" readonly=""><br><br>
    
                    <div class="gadget acone" onclick="selectAcone(); totalAconeLoad(); calcTotalLoad();">
                    <i>✓</i>AC - 1HP
                    </div>
                    <input type="number" min="0" class="" id="acone-qty" placeholder="Quantity?" disabled="" onchange="totalAconeLoad(); calcTotalLoad();">
                    <input type="number" min="0" name="load" class="" id="acone-load" placeholder="Power(W)" readonly=""><br><br>
    
                    <div class="gadget actwo" onclick="selectActwo(); totalActwoLoad(); calcTotalLoad();">
                    <i>✓</i>AC - 1.5HP
                    </div>
                    <input type="number" min="0" class="" id="actwo-qty" placeholder="Quantity?" disabled="" onchange="totalActwoLoad(); calcTotalLoad();">
                    <input type="number" min="0" name="load" class="" id="actwo-load" placeholder="Power(W)" readonly=""><br><br>
    
                    <div class="gadget acthree" onclick="selectActhree(); totalActhreeLoad(); calcTotalLoad();">
                    <i>✓</i>AC - 2HP
                    </div>
                    <input type="number" min="0" class="" id="acthree-qty" placeholder="Quantity?" disabled="" onchange="totalActhreeLoad(); calcTotalLoad();">
                    <input type="number" min="0" name="load" class="" id="acthree-load" placeholder="Power(W)" readonly=""><br><br>
    
                    <div class="gadget washingmachine" onclick="selectWashingmachine(); totalWashingmachineLoad(); calcTotalLoad();">
                    <i>✓</i>Washing Machine
                    </div>
                    <input type="number" min="0" class="" id="washingmachine-qty" placeholder="Quantity?" disabled="" onchange="totalWashingmachineLoad(); calcTotalLoad();">
                    <input type="number" min="0" name="load" class="" id="washingmachine-load" placeholder="Power(W)" readonly=""><br><br>
                {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    <div class="item-right col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="results">
        <form method="POST" id="inverter_load_form" autocomplete="off" novalidate="">
            <div class="total-load">
            <h3>Your Total Load<br>▾</h3>
            <input type="text" id="total-load" value="0" readonly="" style="font-family: poppins, lato, verdana; width: 200px; color: #dd3333; font-size: 28px; font-weight: 400; margin: 0; border: none; text-align: center; cursor: default; margin: 0 auto;">
            <h4>Watts</h4>
            
            <hr>
            </div>
        
            <div class="rating">
            <h3>
                Recommended<br>
                Inverter Rating<br>▾
            </h3>
            <input type="text" id="rating" value="0" readonly="" style="font-family: poppins, lato, verdana; width: 200px; color: #dd3333; font-size: 28px; font-weight: 400; margin: 0; border: none; text-align: center; cursor: default; margin: 0 auto;">
            <h4>VA</h4>
        
            <hr>
            </div>
            
            <h6>Choose Battery Capacity</h6>
            <select id="battery-capacity" value="" onchange="calcBackupTime();">
                <option value="">&nbsp;Select An Option</option>
                <option value="220">220 Ah</option>
                <!--<option value="200">200 Ah</option>-->
                <option value="150">150 Ah</option>
            </select>
            <h4>(Ampere Hours)</h4>
            
            <hr>
            
            
            <div class="inverter_battery">
            <h3>
                Recommended<br>
                Inverter Battery<br>▾
            </h3>
            <input type="text" id="inverter_battery" value="0v" readonly="" style=" background-color:#f0f8ff00; font-family: poppins, lato, verdana; width: 200px; color: #dd3333; font-size: 28px; font-weight: 400; margin: 0; border: none; text-align: center; cursor: default; margin: 0 auto;">
            <h4>Volts</h4>
            
            <hr>
            </div>
            
            <div class="backup-time"> 
            <h3>Your Available<br>Battery Back Up Time<br>▾</h3>
            <input type="text" id="backup-time" value="0" readonly="" style="font-family: poppins, lato, verdana; width: 200px; color: #dd3333; font-size: 28px; font-weight: 400; margin: 0; border: none; text-align: center; cursor: default; margin: 0 auto;">
            <h4>Hours</h4>
            <i class="note"></i>
            <p style="font-size:16px; color:red;">
                <b>Disclaimer:</b> Backup time shown here is approximate.<br>
                The Battery should be in fully charged condition<br>
                to attain this backup time.
            </p>
            </div>

        </form>
        </div>
    </div> 
</div>

<script src="{% static 'js/calculator/commercial_power_cal.js' %}"></script>