{%  load static %}

<div class="header">
    
    <div class="header-left">
        <a href="/" class="logo">
            <img src="{% static 'Images/icon/fiiniixNav1.png' %}" alt="Logo">
        </a>
        <a href="/" class="logo logo-small">
            <img src="{% static 'Images/icon/fiiniixNav1.png' %}" alt="Logo" width="30" height="30">
        </a>
    </div>

    <a href="javascript:void(0);" id="toggle_btn">
        <i class="fe fe-text-align-left"></i>
    </a>
    <div class="top-nav-search">
        <form>
            <input type="text" class="form-control" placeholder="Search here">
            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>

    <a class="mobile_btn" id="mobile_btn">
    <i class="fa fa-bars"></i>
    </a>

    
<ul class="nav user-menu">
    
    <li class="nav-item dropdown noti-dropdown">
        <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
            <i class="fa fa-bell"></i> <span class="badge badge-pill">3</span>
        </a>
        <div class="dropdown-menu notifications">
            <div class="topnav-dropdown-header">
                <span class="notification-title">Notifications</span>
                <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
            </div>
            <div class="noti-content">
                <ul class="notification-list">
                    <li class="notification-message">
                        <a href="#">
                            <div class="media d-flex">
                                <span class="avatar avatar-sm flex-shrink-0">
                                    <img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-02.jpg">
                                </span>
                                <div class="media-body flex-grow-1">
                                    <p class="noti-details"><span class="noti-title">Carlson Tech</span> has approved <span class="noti-title">your estimate</span></p>
                                    <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="notification-message">
                        <a href="#">
                            <div class="media d-flex">
                                <span class="avatar avatar-sm flex-shrink-0">
                                    <img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-11.jpg">
                                </span>
                                <div class="media-body flex-grow-1">
                                    <p class="noti-details"><span class="noti-title">International Software Inc</span> has sent you a invoice in the amount of <span class="noti-title">$218</span></p>
                                    <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="notification-message">
                        <a href="#">
                            <div class="media d-flex">
                                <span class="avatar avatar-sm flex-shrink-0">
                                    <img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-17.jpg">
                                </span>
                                <div class="media-body flex-grow-1">
                                    <p class="noti-details"><span class="noti-title">John Hendry</span> sent a cancellation request <span class="noti-title">Apple iPhone XR</span></p>
                                    <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="notification-message">
                        <a href="#">
                            <div class="media d-flex">
                                <span class="avatar avatar-sm flex-shrink-0">
                                    <img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-13.jpg">
                                </span>
                                <div class="media-body flex-grow-1">
                                    <p class="noti-details"><span class="noti-title">Mercury Software Inc</span> added a new product <span class="noti-title">Apple MacBook Pro</span></p>
                                    <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="topnav-dropdown-footer">
                <a href="#">View all Notifications</a>
            </div>
        </div>
    </li>


    <li class="nav-item dropdown has-arrow">
        <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
            <span class="user-img"><img class="rounded-circle" src="assets/img/profiles/avatar-01.jpg" width="31" alt="{{ user }}"></span>
        </a>
        <div class="dropdown-menu">
            <div class="user-header">
                <div class="avatar avatar-sm">
                    <img src="assets/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
                </div>
                <div class="user-text">
                    <h6>{{ user }} </h6>
                    <a href="{% url 'admin:index' %}"><p class="text-muted mb-0">Administrator</p></a>
                </div>
            </div>
                <a class="dropdown-item" href="general.html">My Profile</a>
                <a class="dropdown-item" href="general.html">Account Settings</a>
                <a class="dropdown-item" href="{% url 'authentication:logout' %}">Logout</a>
        </div>
    </li>

</ul>

</div>

<!-- sidebar -->
<div class="sidebar" id="sidebar">
<div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
        <ul>
            <li class="menu-title">
            </li>
                <li class="active">
                    <a href="{% url 'iotSolar_proj:solariot' %}"><i class="fe fe-home"></i> <span>Solar Data</span></a>
                </li>
               <!-- <li class="submenu">
                    <a href="#"><i class="fe fe-users"></i> <span> Users</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="users.html">Users</a></li>
                        <li><a href="blocked-users.html">Blocked User</a></li>
                        <li><a href="report-users.html">Report User</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-sync"></i> <span> History </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="call-history.html"> Call History </a></li>
                        <li><a href="group-history.html"> Group History </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-gear"></i> <span> Settings </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="general.html">General</a></li>
                        <li><a href="admob.html">Admob </a></li>
                        <li><a href="sinch-settings.html">Sinch Settings </a></li>
                        <li><a href="firebase-settings.html">Firebase Settings </a></li>
                    </ul>
                </li>
                <li>
                    <a href="vector-maps.html"><i class="fe fe-map"></i> <span>Vector Maps</span></a>
                </li>-->
                <li>
                    <a href="{% url 'iotSolar_proj:voltchart' %}"><i class="fe fe-vector"></i> <span>Voltage Chart</span></a>
                </li>
                <li>
                    <a href="{% url 'iotSolar_proj:currentchart' %}"><i class="fe fe-vector"></i> <span>Current Chart</span></a>
                </li>
                <li>
                    <a href="{% url 'iotSolar_proj:powerchart' %}"><i class="fe fe-vector"></i> <span>Power Chart</span></a>
                </li>
                <li>
                    <a href="{% url 'iotSolar_proj:tempchart' %}"><i class="fe fe-vector"></i> <span>Temperature Chart</span></a>
                </li>
                <li>
                    <a href="{% url 'iotSolar_proj:intenchart' %}"><i class="fe fe-vector"></i> <span>Irradition Chart</span></a>
                </li>
                <li>
                    <a href="{% url 'iotSolar_proj:autoll' %}"><i class="fe fe-vector"></i> <span>Max $ Min Value</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-layout"></i> <span>Data Reading <span class="menu-arrow"></span></span></a>
                    <ul style="display: none;">
                        <li><a href="{% url 'iotSolar_proj:autoll' %}">Solar Voltage</a></li>
                        <li><a href="">Current</a></li>
                        <li><a href="">Power</a></li>
                        <li><a href="">Intensity</a></li>
                        <li><a href="">Tempureture</a></li>
                        <li><a href="">Battery Voltage</a></li>
                    </ul>
                </li>
                <!--<li class="submenu">
                    <a href="#"><i class="fe fe-table"></i> <span> Tables <span class="menu-arrow"></span></span></a>
                    <ul style="display: none;">
                        <li><a href="tables-basic.html">Basic Tables </a></li>
                        <li><a href="data-tables.html">Data Table </a></li>
                    </ul>
                </li>-->
        </ul>
    </div>
</div>
</div>
