

.pos{
	align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid
}

.flex-slide{
    width: 100%;
    background: #ca0164;
}
.flex-slide:before{
    content: "";
    display: block;
    padding-top: 25%;
}