{% load static %}
                  <div class="col-md-12">
                          <nav class="navbar navbar-expand-lg navbar-light bg-light">
                          <div class="container-fluid">
                            {%comment%}<a class="navbar-brand" href="/">fiiniix</a>{%endcomment%}
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent" style="flex-grow: 1;">
                              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="{% url 'mainpage:about' %}">About</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="{% url 'mainpage:contact_us' %}">Contact Us</a>
                                </li>
                                <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Serivces
                                  </a>
                                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url "mainpage:all_service" %}">All</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                     {% for c in serviceCategories %}
                                    <li {% if sercategory.slug == c.slug %}class="selected" {% endif %}>
                                        <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name|title }}</a>
                                    </li>
                                    {% endfor %}
                                  </ul>
                                </li>
                                <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Product
                                  </a>
                                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url "shop:product" %}">All</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                     {% for a in categories %}
                                    <li {% if category.slug == a.slug %}class="selected" {% endif %}>
                                        <a class="dropdown-item" href="{{ a.get_absolute_url }}">{{ a.name|title }}</a>
                                    </li>
                                    {% endfor %}
                                  </ul>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">FAQ</a>
                                </li>
                              </ul>
                              <!--<form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                              </form>-->
                            </div>
                            <div class="nav-item"> <a class="nav-link active" style="color:rgb(0, 0, 0) !important;" aria-current="page" href="{% url 'shop:product' %}">Shop</a> </div>
                              <div class="hideIt">
                                  <div class="nav-item">
                                    <a href="{% url 'basket:basket_summary' %}" class="nav-link" style="color:black !important">
                                      {% with total_qty=basket|length %}
                                      <div di="basket-qty" class="d-inline-flex">
                                        {% if total_qty > 0 %}
                                          {{ total_qty}}
                                        {% else %}
                                            0
                                        {% endif %}
                                      </div>
                                      {% endwith %}    
                                      <img style="width:90; height:40" src="{% static 'Images/icon/cart.svg' %}" alt="My Orders" />
                                    </a>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </nav>
                     </div>