{%  load static %}

<div class="col-md-12">
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">

    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img width="90" height="40" src="{% static 'Images/icon/fiiniixNav3.png' %}" alt="Logo" /></a>
      <a class="navbar-brand" href="{% url 'mainpage:load_inverter_cal' %}">Load Calculator</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="flex-grow: none !important;">

        <ul class="navbar-nav justify-content-end mb-2 mb-lg-0" style="flex-grow: none !important;">


          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="{%static 'Images/icon/person-fill.svg' %}" />{{ user.first_name }}
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if not user.is_staff %}
              <li><a class="dropdown-item" href="{% url 'authentication:profile' %}">{{ user.first_name }} Profile</a></li>
              {% else %}
              <li><a class="dropdown-item" href="{% url 'authentication:profile' %}">{{ user.first_name }} </a></li>
              {% endif %}
              {% if user.is_superuser %}
              <a class="dropdown-item" href="{% url 'admin:index' %}">Admin Area</a>
              {% endif %}
              {% if user.is_staff %}
              <li><a class="dropdown-item" href="#">Staff Area</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'authentication:profile' %}">View Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'iotSolar_proj:solariot' %}">Solar Project</a></li>
              <li><a class="dropdown-item" href="{% url 'smartpower:home' %}">SPS</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'authentication:logout' %}">logout</a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'authentication:register' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'authentication:userlogin' %}">Login</a>
          </li>
        {% endif %}
      </ul>
      
    </div>
  </nav>
</div>