{% extends "../baseIotSolar.html" %}
{%  load static %}
{% block title %}Solar Data Collection{% endblock %}
{% block content %}


<div class="main-wrapper">

    {% include 'iotSolar/navigations/iotNav.html' %}
    
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="row">
                <div class="col-xl-4 col-sm-4 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <span class="dash-widget-icon bg-primary">
                                    <i class="fe fe-users"></i>
                                </span>
                                <div class="dash-count">
                                    <a href="#" class="count-title">User Count</a>
                                    <a href="#" class="count"> 10,320</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-4 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <span class="dash-widget-icon bg-warning">
                                    <i class="fe fe-phone"></i>
                                </span>
                                <div class="dash-count">
                                    <a href="#" class="count-title">Call Duration</a>
                                    <a href="#" class="count"> 14,628</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-4 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <span class="dash-widget-icon bg-danger">
                                    <i class="fe fe-comments"></i>
                                </span>
                                <div class="dash-count">
                                    <a href="#" class="count-title">Chat Count</a>
                                    <a href="#" class="count"> 2,980</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">                 

                        <div style="height:50%;" class="card card-table flex-fill">
                            
                                <div class="card-header">
                                    <h4 class="card-title float-start">{% now "  jS F Y H:i" %}</h4>
                                </div>
                            
                            <div class="card-body"> 
                                <canvas id="intenChartt" data-url="{% url 'iotSolar_proj:intenChartt' %}"></canvas>
                            </div>
                        </div> 
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    
</div>
<script>

    $(function () {

    var $intenChartt = $("#intenChartt");
    $.ajax({
      url: $intenChartt.data("url"),
      success: function (data) {

        var ctx = $intenChartt[0].getContext("2d");

        new Chart(ctx, {
          type: 'line',
          data: {
            labels: data.labels,
            datasets: [{
              label: 'irradiation chart',
              backgroundColor: 'blue',
              data: data.data
            }]          
          },
          options: {
            responsive: true,
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'irradiation Chart'
            }
          }
        });					  

      }
    });

  });

</script>
{% endblock %}