{% extends "base.html" %}
{%  load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}products{% endif %}
{% endblock %}
{% block content %}

<div class="container-fluid">
    <header>
      <div class="fixed-top row">
            <!-- Logo -->
            <div class="col-md-12">
            {% include 'mainpage/navigations/nav2.html' %}                           
            </div>
            <!-- Nav -->
            <div class="col-md-12">
            {% include 'mainpage/navigations/nav1.html' %}                           
            </div>

      </div>
    </header>        
 </div>
<main>
 <div class="album py-5 bg-light">
            <div class="container">

                <div class="pb-3 h5">All Products</div>
                <div class="pb-3 h5">{{category.name|title}}</div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

                    {% for product in products %}

                    <div class="col">
                        <div class="card">
<!--   The CSS object-fit property is used to specify how an <img> or <video> should be resized to fit its container. which are contain, none, scale-down, fill, cover. it is in the frame.css in this project    -->
                            <div>
                            <img class="img-fluid contain" alt="Responsive image" style="width:200px;height:200px" src="{{ product.image.url }}">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">
                                        {{ product.title }}
                                    </a>
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                      <small class="text-muted">9min read</small>
                              </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
        </div>
        {% include 'mainpage/navigations/footer.html' %}           
</main>
{% endblock %}
