{% extends "base.html" %}
{%  load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}products{% endif %}
{% endblock %}
{% block content %}


<div class="container-fluid">
    <header>
      <div class="fixed-top row">
            <!-- Logo -->
            <div class="col-md-12">
            {% include 'mainpage/navigations/nav2.html' %}                           
            </div>
            <!-- Nav -->
            <div class="col-md-12">
            {% include 'mainpage/navigations/nav1.html' %}                           
            </div>
      </div>
    </header>        
 </div>
 <br /><br /><br /><br />
<body>
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb mb-30"  style="background-color: rgb(239, 230, 219); padding: 0.75rem 1rem; display: flex; box-sizing: border-box;">
                    <a class="breadcrumb-item text-dark" href="/">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Shop List</span>
                </nav>
            </div>
        </div>
    </div>
<!-- Breadcrumb End -->
<!--Shop start-->
<div class="container-fluid">
    <div class="row px-xl-5">
        
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">
                <!-- Price Start -->
                <div class="bg-light p-4 mb-30">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span>Search Products</span></h5>
                    {%comment%}
                    <form style="background-color: rgb(239, 230, 219); padding: 0.75rem 1rem; box-sizing: border-box;">
                        {{ search_form.as_p }}
                        <button type="submit">Search</button> 
                    </form>
                    {%endcomment%}
                    <form style="margin: 1% !important;" action="{% url 'shop:search'%}" method="get">
                        <input style="padding: 0.375rem 0.75rem;color: #212529; margin: 2%!important;
                        background-color: #fff; border: 1px solid #ced4da; border-radius: 0.25rem;"
                         type="text" name="q" value="{{ query }}" placeholder="Search">
                        <input type="submit" value="Search">
                    </form>
                </div>
                <!-- Price End -->
                {%comment%}
                <!-- Color Start -->
                <div class="bg-light p-4 mb-30">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="pr-3">Filter by color</span></h5>
                    <form class="myboxx">
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="color-all">
                            <label class="custom-control-label" for="price-all">All Color</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-1">
                            <label class="custom-control-label" for="color-1">Black</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-2">
                            <label class="custom-control-label" for="color-2">White</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-3">
                            <label class="custom-control-label" for="color-3">Red</label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-4">
                            <label class="custom-control-label" for="color-4">Blue</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="color-5">
                            <label class="custom-control-label" for="color-5">Green</label>
                            <span class="badge border font-weight-normal">168</span>
                        </div>
                    </form>
                </div>
                <!-- Color End -->

                <!-- Size Start -->
                
                <div class="p-4 mb-30">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="pr-3">Filter by size</span></h5>
                    <form class="myboxx">
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="size-all">
                            <label class="custom-control-label" for="size-all">All Size</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-1">
                            <label class="custom-control-label" for="size-1">XS</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-2">
                            <label class="custom-control-label" for="size-2">S</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-3">
                            <label class="custom-control-label" for="size-3">M</label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-4">
                            <label class="custom-control-label" for="size-4">L</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="size-5">
                            <label class="custom-control-label" for="size-5">XL</label>
                            <span class="badge border font-weight-normal">168</span>
                        </div>
                    </form>
                </div>
                {%endcomment%}
                <!-- Size End -->
            </div>
            <!-- Shop Sidebar End -->
            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    {% for product in products %}
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="single-boxx">
                            <div class="product-item">
                                <div class="product-img position-relative overflow-hidden">
                                    <img class="img-fluid w-100" src="{{ product.image.url }}" alt="">
                                    <div class="product-action">
                                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                        <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <a class="h6 text-decoration-none text-truncate" href="{{ product.get_absolute_url }}">{{product.product_name}}</a>
                                    <div class="d-flex align-items-center justify-content-center mt-2">
                                        <h6><code>&#x20A6</code> {{product.price}} </h6><h7 class="text-muted ml-2"><del><code>&#x20A6</code>{{product.sell_price}}</del></h7>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center mb-1">
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small>(99)</small>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                    {%endfor%}
                </div>
            </div>
            <!--Shop Product End-->
            {%comment%}
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    {% for product in products %}
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="single-boxx">
                            <div class="product-item">
                                <div class="product-img position-relative overflow-hidden">
                                    <img class="img-fluid w-100" src="{{ product.image.url }}" alt="">
                                </div>
                                <div class="text-center">
                                    <p class="h6 text-decoration-none text-truncate" href="">{{product.product_name}}</p>
                                    <div class="d-flex align-items-center justify-content-center mt-2">
                                        <h5><code>&#x20A6</code>{{product.price}}</h5><h6 class="text-muted ml-2"><del><code>&#x20A6</code>{{product.sell_price}}</del></h6>
                                    </div>
                                    <div class="product-action">
                                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                        <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center mb-1">
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small>(99)</small>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                    {%endfor%}
                </div>
            </div>
            {%endcomment%}

    </div>
</div>                         
            {% include 'mainpage/navigations/footer.html' %}           
    </body>
{% endblock %}
