{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>fiiniix Tech</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'assets/css/feathericon.min.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'assets/plugins/morris/morris.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css">
   
</head>

<body>
       
            {% block content %}

            {% endblock %}
      
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
            
    <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
            
    <script src="{% static 'assets/js/script.js' %}"></script>    

    <script src="{% static 'js/form-validation.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous">
    </script>
</body>
</html>